In [1]:
import os
import json
import pandas as pd
import pymysql
import plotly.express as px
import streamlit as st
import requests

In [2]:
#agg transation
path1= "C:/Users/pkart/OneDrive/Desktop/phonepe/pulse/data/aggregated/transaction/country/india/state/"
agg_tran_list = os.listdir(path1)

columns1= {"States":[], "Years":[], "Quarter":[], "Transaction_type":[], "Transaction_count":[], "Transaction_amount":[]}
for state in agg_tran_list:
    cur_state = path1+state+"/"
    #print(cur_state)
    agg_year_list = os.listdir(cur_state)
    #print(agg_year_list)

    for year in agg_year_list:
        cur_year = cur_state+year+"/"
        agg_file_list=os.listdir(cur_year)
        #print(agg_year_list)

        for file in agg_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            A=json.load(data)

            for i in A["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                columns1["Transaction_type"].append(name)
                columns1["Transaction_count"].append(count)
                columns1["Transaction_amount"].append(amount)
                columns1["States"].append(state)
                columns1["Years"].append(year)
                columns1["Quarter"].append(int(file.strip(".json")))
aggre_transaction=pd.DataFrame(columns1) 


aggre_transaction["States"] = aggre_transaction["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggre_transaction["States"] = aggre_transaction["States"].str.replace("-"," ")
aggre_transaction["States"] = aggre_transaction["States"].str.title()
aggre_transaction['States'] = aggre_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [ ]:
aggre_transaction

In [3]:
#agg user
path2= "C:/Users/pkart/OneDrive/Desktop/phonepe/pulse/data/aggregated/user/country/india/state/"
agg_tran_list = os.listdir(path2)

columns2= {"States":[], "Years":[], "Quarter":[], "Brand":[], "Transaction_count":[], "Percentage":[]}
for state in agg_tran_list:
    cur_state = path2+state+"/"
    #print(cur_state)
    agg_year_list = os.listdir(cur_state)
    #print(agg_year_list)

    for year in agg_year_list:
        cur_year = cur_state+year+"/"
        agg_file_list=os.listdir(cur_year)
        #print(agg_year_list)

        for file in agg_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            B=json.load(data)
            try:
                for i in B["data"]["usersByDevice"]:
                    brand=i["brand"]
                    count=i["count"]
                    percentage=i["percentage"]
                    columns2["Brand"].append(brand)
                    columns2["Transaction_count"].append(count)
                    columns2["Percentage"].append(percentage)
                    columns2["States"].append(state)
                    columns2["Years"].append(year)
                    columns2["Quarter"].append(int(file.strip(".json")))
            except:
                pass

aggr_user=pd.DataFrame(columns2)


aggr_user["States"] = aggr_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggr_user["States"] = aggr_user["States"].str.replace("-"," ")
aggr_user["States"] = aggr_user["States"].str.title()
aggr_user['States'] = aggr_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [15]:
aggr_user

                 States Years  Quarter    Brand  Transaction_count  Percentage
0     Andaman & Nicobar  2018        1   Xiaomi               1665    0.247033
1     Andaman & Nicobar  2018        1  Samsung               1445    0.214392
2     Andaman & Nicobar  2018        1     Vivo                982    0.145697
3     Andaman & Nicobar  2018        1     Oppo                501    0.074332
4     Andaman & Nicobar  2018        1  OnePlus                332    0.049258
...                 ...   ...      ...      ...                ...         ...
6727        West Bengal  2022        1   Lenovo             330017    0.015056
6728        West Bengal  2022        1  Infinix             284678    0.012987
6729        West Bengal  2022        1     Asus             280347    0.012790
6730        West Bengal  2022        1    Apple             277752    0.012671
6731        West Bengal  2022        1   Others            2196334    0.100199

[6732 rows x 6 columns]

In [4]:
#map transaction
path3= "C:/Users/pkart/OneDrive/Desktop/phonepe/pulse/data/map/transaction/hover/country/india/state/"
map_tran_list = os.listdir(path3)

columns3= {"States":[], "Years":[], "Quarter":[], "Dist_name":[], "Transaction_count":[], "Transaction_amount":[]}
for state in map_tran_list:
    cur_state = path3+state+"/"
    #print(cur_state)
    map_tran_list = os.listdir(cur_state)
    #print(map_tran_list)

    for year in map_tran_list:
        cur_year = cur_state+year+"/"
        map_file_list=os.listdir(cur_year)
        #print(map_file_list)

        for file in map_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")


            C=json.load(data)
           
            for i in C["data"]["hoverDataList"]:
                        name=i["name"]                       
                        count=i["metric"][0]["count"]                      
                        amount=i["metric"][0]["amount"]
                        columns3["Dist_name"].append(name)
                        columns3["Transaction_count"].append(count)
                        columns3["Transaction_amount"].append(amount)
                        columns3["States"].append(state)
                        columns3["Years"].append(year)
                        columns3["Quarter"].append(int(file.strip(".json")))
map_tran=pd.DataFrame(columns3)


map_tran["States"] = map_tran["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_tran["States"] = map_tran["States"].str.replace("-"," ")
map_tran["States"] = map_tran["States"].str.title()
map_tran['States'] = map_tran['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [5]:
#map_user
path4= "C:/Users/pkart/OneDrive/Desktop/phonepe/pulse/data/map/user/hover/country/india/state/"
map_user_list = os.listdir(path4)

columns4= {"States":[], "Years":[], "Quarter":[], "Districts":[], "RegisteredUser":[], "AppOpens":[]}
for state in map_user_list:
    cur_state = path4+state+"/"
    #print(cur_state)
    map_user_list = os.listdir(cur_state)
    #print(map_tran_list)

    for year in map_user_list:
        cur_year = cur_state+year+"/"
        map_file_list=os.listdir(cur_year)
        #print(map_file_list)

        for file in map_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")


            D=json.load(data)

            for i in D["data"]["hoverData"].items():
                district = i[0]
                registereduser = i[1]["registeredUsers"]
                appopens = i[1]["appOpens"]
                columns4["Districts"].append(district)
                columns4["RegisteredUser"].append(registereduser)
                columns4["AppOpens"].append(appopens)
                columns4["States"].append(state)
                columns4["Years"].append(year)
                columns4["Quarter"].append(int(file.strip(".json")))
map_user=pd.DataFrame(columns4)


map_user["States"] = map_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_user["States"] = map_user["States"].str.replace("-"," ")
map_user["States"] = map_user["States"].str.title()
map_user['States'] = map_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [ ]:
for i in D["data"]["hoverData"].items():
    district=i[0]
    registereduser=i[1]["registeredUsers"]
    #print(reguser)
    appopen=i[1]["appOpens"]
    columns4["Dist_name"].append(district)
    columns4["Registered_user"].append(registereduser)
    columns4["Appopen"].append(appopen)
    columns4["States"].append(state)
    columns4["Years"].append(year)
    columns4["Quarter"].append(int(file.strip(".json")))

In [6]:
path5= "C:/Users/pkart/OneDrive/Desktop/phonepe/pulse/data/top/transaction/country/india/state/"
top_tran_list = os.listdir(path5)

columns5= {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "Transaction_count":[], "Transaction_amount":[]}
for state in top_tran_list:
    cur_state = path5+state+"/"
    #print(cur_state)
    top_tran_list = os.listdir(cur_state)
    #print(map_tran_list)

    for year in top_tran_list:
        cur_year = cur_state+year+"/"
        top_file_list=os.listdir(cur_year)
        #print(map_file_list)

        for file in top_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")


            E=json.load(data)

            for i in E["data"]["pincodes"]:
                entityName = i["entityName"]
                count = i["metric"]["count"]
                amount = i["metric"]["amount"]
                columns5["Pincodes"].append(entityName)
                columns5["Transaction_count"].append(count)
                columns5["Transaction_amount"].append(amount)
                columns5["States"].append(state)
                columns5["Years"].append(year)
                columns5["Quarter"].append(int(file.strip(".json")))
top_tran = pd.DataFrame(columns5)  


top_tran["States"] = top_tran["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_tran["States"] = top_tran["States"].str.replace("-"," ")
top_tran["States"] = top_tran["States"].str.title()
top_tran['States'] = top_tran['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [81]:
E["data"]["districts"][0]["metric"]["count"]

113910456

In [77]:
E["data"]["districts"][0]["entityName"]

'north twenty four parganas'

In [33]:
#top_user
path6="C:/Users/pkart/OneDrive/Desktop/phonepe/pulse/data/top/user/country/india/state/"
top_user_list = os.listdir(path6)

columns6= {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "RegisteredUser":[]}
for state in top_user_list:
    cur_state = path6+state+"/"
    #print(cur_state)
    top_user_list = os.listdir(cur_state)
    #print(map_tran_list)

    for year in top_user_list:
        cur_year = cur_state+year+"/"
        top_file_list=os.listdir(cur_year)
        #print(map_file_list)

        for file in top_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")


            F=json.load(data)

            for i in F["data"]["pincodes"]:
                name = i["name"]
                registeredusers = i["registeredUsers"]
                columns6["Pincodes"].append(name)
                columns6["RegisteredUser"].append(registereduser)
                columns6["States"].append(state)
                columns6["Years"].append(year)
                columns6["Quarter"].append(int(file.strip(".json")))

        

top_user = pd.DataFrame(columns6)


top_user["States"] = top_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_user["States"] = top_user["States"].str.replace("-"," ")
top_user["States"] = top_user["States"].str.title()
top_user['States'] = top_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [31]:
#insurance
path7="C:/Users/pkart/OneDrive/Desktop/phonepe/pulse/data/aggregated/insurance/country/india/state/"
insur_user_list =os.listdir(path7)
columns6= {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "RegisteredUser":[]}
for state in insur_user_list:
    cur_state = path7+state+"/"
    #print(cur_state)
    insur_user_list = os.listdir(cur_state)
    #print(map_tran_list)

    for year in insur_user_list:
        cur_year = cur_state+year+"/"
        top_file_list=os.listdir(cur_year)
        #print(map_file_list)

        for file in top_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")


            F=json.load(data)

In [32]:
F

{'success': True,
 'code': 'SUCCESS',
 'data': {'from': 1688149800000,
  'to': 1695839400000,
  'transactionData': [{'name': 'Insurance',
    'paymentInstruments': [{'type': 'TOTAL',
      'count': 58131,
      'amount': 76359312.0}]}]},
 'responseTimestamp': 1697612219854}

In [96]:
for i in F["data"]["pincodes"]:
                name = i["name"]
                registeredusers = i["registeredUsers"]
                columns6["Pincodes"].append(name)
                columns6["RegisteredUser"].append(registereduser)
                columns6["States"].append(state)
                columns6["Years"].append(year)
                columns6["Quarter"].append(int(file.strip(".json")))

In [11]:
#database creation
mydb = pymysql.connect(host="127.0.0.1",
                        user="root",
                        password="admin@123",
                        database="PhonePe_pulsedata"
                        )
cursor = mydb.cursor()
cursor.execute("create database PhonePe_pulsedata")

1

In [9]:
#creating and inserting values in tables
#aggregated_transaction/user
mydb = pymysql.connect(host="127.0.0.1",
                    user="root",
                    password="admin@123",
                    database="PhonePe_pulsedata"
                    )
cursor = mydb.cursor()

create_query1 = '''CREATE TABLE if not exists aggregated_transactions (States varchar(50),
                                                                      Years int,
                                                                      Quarter int,
                                                                      Transaction_type varchar(50),
                                                                      Transaction_count bigint,
                                                                      Transaction_amount bigint
                                                                      )'''
cursor.execute(create_query1)
mydb.commit()

for index,row in aggre_transaction.iterrows():
    insert_query1 = '''INSERT INTO aggregated_transactions (States, Years, Quarter, Transaction_type, Transaction_count, Transaction_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Transaction_type"],
              row["Transaction_count"],
              row["Transaction_amount"]
              )
    cursor.execute(insert_query1,values)
    mydb.commit()

In [8]:
#aggregated_transaction/user
mydb = pymysql.connect(host="127.0.0.1",
                    user="root",
                    password="admin@123",
                    database="PhonePe_pulsedata"
                    )
cursor = mydb.cursor()
create_query2 = '''CREATE TABLE if not exists aggregated_user (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                Brands varchar(50),
                                                                Transaction_count bigint,
                                                                Percentage float)'''
cursor.execute(create_query2)
mydb.commit()

for index,row in aggr_user.iterrows():
    insert_query2 = '''INSERT INTO aggregated_user (States, Years, Quarter, Brands, Transaction_count, Percentage)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Brand"],
              row["Transaction_count"],
              row["Percentage"])
    cursor.execute(insert_query2,values)
    mydb.commit()

In [9]:
mydb = pymysql.connect(host="127.0.0.1",
                    user="root",
                    password="admin@123",
                    database="PhonePe_pulsedata"
                    )
cursor = mydb.cursor()
create_query3 = '''CREATE TABLE if not exists map_transaction (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                District varchar(50),
                                                                Transaction_count bigint,
                                                                Transaction_amount float)'''
cursor.execute(create_query3)
mydb.commit()

for index,row in map_tran.iterrows():
            insert_query3 = '''
                INSERT INTO map_Transaction (States, Years, Quarter, District, Transaction_count, Transaction_amount)
                VALUES (%s, %s, %s, %s, %s, %s)

            '''
            values = (
                row['States'],
                row['Years'],
                row['Quarter'],
                row['Dist_name'],
                row['Transaction_count'],
                row['Transaction_amount']
            )
            cursor.execute(insert_query3,values)
            mydb.commit()

In [10]:
mydb = pymysql.connect(host="127.0.0.1",
                    user="root",
                    password="admin@123",
                    database="PhonePe_pulsedata"
                    )
cursor = mydb.cursor()


create_query4 = '''CREATE TABLE if not exists map_user (States varchar(50),
                                                        Years int,
                                                        Quarter int,
                                                        Districts varchar(50),
                                                        RegisteredUser bigint,
                                                        AppOpens bigint)'''
cursor.execute(create_query4)
mydb.commit()

for index,row in map_user.iterrows():
    insert_query4 = '''INSERT INTO map_user (States, Years, Quarter, Districts, RegisteredUser, AppOpens)
                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Districts"],
              row["RegisteredUser"],
              row["AppOpens"])
    cursor.execute(insert_query4,values)
    mydb.commit()

In [11]:
mydb = pymysql.connect(host="127.0.0.1",
                    user="root",
                    password="admin@123",
                    database="PhonePe_pulsedata"
                    )
cursor = mydb.cursor()


#top_transaction_table
create_query5 = '''CREATE TABLE if not exists top_transaction (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                pincodes int,
                                                                Transaction_count bigint,
                                                                Transaction_amount bigint)'''
cursor.execute(create_query5)
mydb.commit()

for index,row in top_tran.iterrows():
    insert_query5 = '''INSERT INTO top_transaction (States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Pincodes"],
              row["Transaction_count"],
              row["Transaction_amount"])
    cursor.execute(insert_query5,values)
    mydb.commit()

In [12]:
mydb = pymysql.connect(host="127.0.0.1",
                    user="root",
                    password="admin@123",
                    database="PhonePe_pulsedata"
                    )
cursor = mydb.cursor()

#top_user_table
create_query6 = '''CREATE TABLE if not exists top_user (States varchar(50),
                                                        Years int,
                                                        Quarter int,
                                                        Pincodes int,
                                                        RegisteredUser bigint
                                                        )'''
cursor.execute(create_query6)
mydb.commit()

for index,row in top_user.iterrows():
    insert_query6 = '''INSERT INTO top_user (States, Years, Quarter, Pincodes, RegisteredUser)
                                            values(%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Pincodes"],
              row["RegisteredUser"])
    cursor.execute(insert_query6,values)
    mydb.commit()

In [14]:
mydb = pymysql.connect(host="127.0.0.1",
                    user="root",
                    password="admin@123",
                    database="PhonePe_pulsedata"
                    )
cursor = mydb.cursor()

cursor.execute("select * from aggregated_transactions;")
table1 = cursor.fetchall()
Aggre_trans = pd.DataFrame(table1,columns = ("States", "Years", "Quarter", "Transaction_type", "Transaction_count", "Transaction_amount"))

#Aggregated_user
cursor.execute("select * from aggregated_user")
mydb.commit()
table2 = cursor.fetchall()
Aggre_user = pd.DataFrame(table2,columns = ("States", "Years", "Quarter", "Brands", "Transaction_count", "Percentage"))

#Map_transaction
cursor.execute("select * from map_transaction")
mydb.commit()
table3 = cursor.fetchall()
Map_trans = pd.DataFrame(table3,columns = ("States", "Years", "Quarter", "Districts", "Transaction_count", "Transaction_amount"))

#Map_user
cursor.execute("select * from map_user")
mydb.commit()
table4 = cursor.fetchall()
Map_user = pd.DataFrame(table4,columns = ("States", "Years", "Quarter", "Districts", "RegisteredUser", "AppOpens"))

#Top_transaction
cursor.execute("select * from top_transaction")
mydb.commit()
table5 = cursor.fetchall()
Top_trans = pd.DataFrame(table5,columns = ("States", "Years", "Quarter", "Pincodes", "Transaction_count", "Transaction_amount"))

#Top_user
cursor.execute("select * from top_user")
mydb.commit()
table6 = cursor.fetchall()
Top_user = pd.DataFrame(table6, columns = ("States", "Years", "Quarter", "Pincodes", "RegisteredUser"))

In [ ]:
Map_trans

In [1]:
input_string = "andaman-&-nicobar-islands"

# Replace dashes with spaces and capitalize each word
formatted_string = input_string.replace("-", " ").title()

print(formatted_string)

Andaman & Nicobar Islands

In [22]:
mydb = pymysql.connect(host="127.0.0.1",
                    user="root",
                    password="admin@123",
                    database="PhonePe_pulsedata"
                    )
cursor = mydb.cursor()

cursor.execute("select * from aggregated_transaction;")
table1 = cursor.fetchall()
Aggre_trans = pd.DataFrame(table1,columns = ("States", "Years", "Quarter", "Transaction_type", "Transaction_count", "Transaction_amount"))

for i in Aggre_trans.States:
    formatted_string = i.replace("-", " ").title()
    if formatted_string=="Dadra & Nagar Haveli & Daman & Diu":
            formatted_string =formatted_string.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
 
  
          


#df2 =pd.read_csv(r"C:\Users\pkart\OneDrive\Desktop\phonepe\Statenames.csv")
#Aggre_trans.States=df2

In [30]:
a = Aggre_trans["Years"].unique()
a

array([2018, 2019, 2020, 2021, 2022, 2023], dtype=int64)

In [ ]:
Aggre_trans